<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <script src="/assets/javascript/main.js" ></script>
    <link href="/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="top-bar">
        <div class="nav-bar">
            <a href="/home"><i class="fa-solid fa-house icon"></i>Home</a>
            <a href="/post"><i class="fa-solid fa-upload icon"></i>Post</a>
            <a href="/help"><i class="fa-solid fa-circle-info icon"></i>Help</a>
            <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket icon"></i>Logout</a>
        </div>
    </div>
    <div class="containers">
        <div class="posts" id="posts">
            <div class="updt-elem">
                <div class="elem-top">
                    <div class="utitle">
                        <p>work shop</p>
                        <p class="utime">today</p>
                    </div>
                    <div class="post-menu">
                        <i class="fa-solid fa-ellipsis-vertical fa-2xl"></i>
                    </div>
                </div>
                <div class="body-img">
                    <img src="/assets/images/roai.jpg">
                </div>
                <p class="body-desc">hello dear i am very happy to tell u.i love uuuuuu</p>
                <div class="elem-bottom">
                    <a href="#" class="b-elem"><i class="fa-solid fa-heart post-interaction"></i></a>
                    <a href="#" class="b-elem"><i class="fa-solid fa-share post-interaction"></i></a>
                    <a href="#" class="b-elem"><i class="fa-solid fa-comment post-interaction"></i></a>
                </div>
            </div>
            
        </div>
        <div class="container">
            <div class="news">
                <h1 style="text-align: center;">NEWS</h1>
                <div class="news-element">
                    <div class="news-title">Anna university 2022 exam released</div>
                    <div class="news-subtitle">yesterday</div>
                </div>
                <div class="news-element">
                    <div class="news-title">Anna university 2023 time table released</div>
                    <div class="news-subtitle">today</div>
                </div>
                <a href="#" class="view-list">view all</a>
            </div>
            <!-- <div class="event">
                <h1 style="text-align: center;">Events</h1>
                <div class="event-container">
                    <div class="event-element">
                        <div class="post-title">Narasu's sarathy institute of technology</div>
                        <div class="news-subtitle">today</div>
                        <div class="post-img"></div>
                    </div>
        
                </div>
                <a href="#" class="view-list">view all</a>
            </div> -->
        </div>
    </div>
    <style>
    </style>
</body>

</html>