<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Post</title>
</head>

<body>
    <div class="form-container">
        <h2 class="tophead"> Welcome to post page</h2>
        <form action="/post" method="post" class="login-form-wrapper" style="background-color: white;" enctype="multipart/form-data">
            <div class="form-input">
                <!-- <label class="head" for="title">Title :</label><br> -->
                <input type="text" class="login-input" name="title" placeholder="Enter post title...">
            </div>
            <div class="form-input">
                <!-- <label class="head" for="description">Description :</label><br> -->
                <textarea name="description" class="login-input" cols="50" rows="10"
                    placeholder="Write your comment here..."></textarea>
            </div>
            <div class="form-input">
                <input class="login-input" type="file" name="image" accept="image/*" >
            </div>
            <button class="login-btn" type="submit">post</button>
        </form>
    </div>
</body>

</html>